

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 200px; 
  }

 
.buttonlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  text-decoration: none;
  list-style: none;
}

.navbutton {
  margin-top: 20px;
  height: 30px;
  width: 70px;
  font-family: 'Ysabeau SC', sans-serif;
}