.container {
  display: flex;
  margin-left: 50px; 
  margin-top: 50px;
}

.sociallink {
  text-decoration: none;
  color: black;
}

.socials {
  /* margin-right: 25px; */
  display: flex;
  flex-direction: row;
}

.linkscontainer {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

