.container {
  display: flex;
  margin-left: 50px; 
  margin-top: 50px;
}

.name {
  font-family: 'Ysabeau SC', sans-serif;
 
}

.bio{
 font-family: 'Libre Caslon Text';
}
.sociallink {
  text-decoration: none;
  color: black;
}

.socials {
  /* margin-right: 25px; */
  display: flex;
  flex-direction: row;
}

.linkscontainer {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.socialdescriptions{
  margin-left: 30px;
  margin-top: -25px;
  font-family: 'Libre Caslon Text';
}