.container {
  display: flex;
  margin-top: 50px;
}
.info {
  margin-right: 50px;
}
.name {
  font-family: 'Ysabeau SC', sans-serif;
}

.bio{
 font-family: 'Libre Caslon Text';
}
.sociallink {
  text-decoration: none;
  color: black;
}

.socials {
  display: flex;
  flex-direction: row;
}

.linkscontainer {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 415px) {
  .linkscontainer {
   margin-left: 0;
  }
}

.socialdescriptions{
  margin-left: 30px;
  margin-top: -25px;
  font-family: 'Libre Caslon Text';
}